*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header img{
    width: 70%;
    height: auto;
    position: relative;
    left: 15%;
    margin-top: 20px;
}

header h1{
    color: yellow;
    font-size: 75px;
    position: absolute;
    margin-left: 15%;
    top: 10px;

}

.logo{
    position: absolute;
    margin-left: 70%;
    margin-top: 0;
    top: 44%;
    height: 200px;
    z-index: 1;
    

}

section h2{
    position: absolute;
    background-color: black;
    color: white;
    font-size: 30px;
    margin-left: 15%;
    margin-right: 15%;
    top: 52.7%;
    width: 70%;
    display: block;
    text-align: center;
}

.box{
    display: inline-block;
    position: absolute;
    font-size: 20px;
}

.home{
    top:59%;
    margin-left: 15%;

}

.about{
        top:68%;
        margin-left: 15%;
    
}

.contact{
    top:77%;
        margin-left: 15%;
}

.hockey1{
visibility: hidden;
}