*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*LINK STYLE*/
/*

a:focus {
    background-color: green;
}

/*nav a:hover{
    background-color: lime;
}*/

header{
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

header img{
    align-self: center;
    border-radius: 15px;
    width: 70%;
    height: auto;
    

 }

 header h1{
    
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(16, 17, 107);
    display: flex;
    width: 70%;
    font-size: 35px;

 }

 .loguito{
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
 }


 .logo{
    width: 200px;
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 1;
 }

.seccion1{
    flex-direction: column;
    display: flex;
    max-width: 100%;

}

.titulo{
    position: relative;
    border-radius: 10px;
    background-color:rgb(48, 50, 192);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 70%;
    text-align: center;
    align-self: center;
}

nav{
    position: absolute;
    display: flex;
    width: 350px;
    justify-content: space-between;
    top: 7%;
    left: 65.5%;
}

.box{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-color:rgb(48, 50, 192);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    box-shadow: 3px 3px 2px black;
    border-radius: 4px;
}

.home{
    width: 100px;
    justify-content: center;
}

.about{
    width: 100px;
    justify-content: center;
}

.contact{
    width: 130px;
    justify-content: center;
}


/*fechas*/

.fecha{
    color: black;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18%;
    opacity: 60%;
}

.uno{
    top: 59%;
}

.dos{
    top: 68%;
}

.tres{
    top: 79%;
}

.hockey11{
    display: flex;
    justify-content:center;
    opacity: 70%;
    max-width: 70%;
    
}

.hockey1{
    position: absolute;
    left: 65%;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
}



.evento{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18%;
    opacity: 60%;
}

.primero{
    top: 63%;
}

.segundo{
    top: 72%;
}

.tercero{
    top: 83%;
}

/*PAGE ABOUT*/

.hockey2{
    width: 200px;
    position: absolute;
    margin-left: 73%;
    top: 67%;
    border-radius: 20px;
    opacity: 70%;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mision{
    position: absolute;
    top: 61%;
    margin-left: 15%;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 65%;
    margin-left: 15%;
    margin-right: 28%;
    text-indent: 30px;
    opacity: 80%;
    text-align: justify;
}

.vision{
    position: absolute;
    top: 73%;
    margin-left: 15%;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 76%;
    margin-left: 15%;
    margin-right: 28%;
    text-indent: 30px;
    opacity: 80%;
    text-align: justify;
}

.general{
    position: absolute;
    top: 82%;
    margin-left: 15%;
}

.p3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 86%;
    margin-left: 15%;
    margin-right: 28%;
    text-indent: 30px;
    opacity: 80%;
    text-align: justify;
}

/*PAGE CONTACT*/

.hockey3{
    width: 250px;
    position: absolute;
    margin-left: 63%;
    top: 65%;
    border-radius: 20px;
    opacity: 70%;
}

.email{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 70%;
    margin-left: 15%;
    margin-right: 22%;
    text-indent: 30px;
    opacity: 80%;
}

.reply{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 74%;
    margin-left: 15%;
    margin-right: 22%;
    text-indent: 30px;
    opacity: 80%;
}