*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header img{
    width: 70%;
    height: auto;
    position: relative;
    left: 15%;
    margin-top: 20px;
}

header h1{
    color: yellow;
    font-size: 75px;
    position: absolute;
    margin-left: 15%;
    top: 10px;

}

.logo{
    position: relative;
    margin-left: 70%;
    margin-top: -80px;

}

.prueba a{
    top: 20%;
    color: black;
    background-color: aqua;
    display: block;
    margin-left: 15%;
}

section h3 {
    position: absolute;
    margin-left: 70%;
}

section h4{
    position: relative;
    margin-left: 30%;
}

section h2{
    background-color: black;
    color: white;
    font-size: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -382px;
    text-align: center;
}

.hockey1{
visibility: hidden;
}